<div class="mat-elevation-z8">

  <mat-card class="example-card" style="background: #29374a !important; box-shadow: none !important">
    <button mat-raised-button color="primary" class="btnUpload" (click)="refazer()" aria-label="Refazer" style="float: right;background: none !important">Refazer
      teste</button>

    <a mat-raised-button color="primary" class="voltar" title="Voltar" routerLink="/cursodetalhes" style="float: right;">
      <i class="material-icons md-48" title="Voltar">arrow_back</i>
    </a>

    <mat-card-content>
      <h3 style="color: rgb(221, 136, 24);padding-bottom: 5px;font-size: 1.5em">{{questionario.titulo}}</h3>
      <span style="font-size: 1.4em;font-weight: bold">Total acertos: {{totalAcertos}}/{{listaQuestoes.length}}</span>

      <span style="font-size: 1.4em;float: right;font-weight: bold">Percentual: {{ percentual }}%</span>

      <mat-card class="example-card" *ngFor="let q of listaQuestoes; let i = index" style="background: #29374a; margin-bottom: 20px; box-shadow: none !important">
        <h3 [class]="marcarAlternativa(q.respostaAluno.correta)">{{i+1}} - {{q.titulo}}</h3>
        <i class="material-icons md-48 alternativaCorreta" *ngIf="q.respostaAluno.correta" style="float: right;">done</i>
        <i class="material-icons md-48 alternativaIncorreta" *ngIf="!q.respostaAluno.correta" style="float: right;">clear</i>
        <mat-list>
          <mat-list-item>
            Resposta correta: {{q.respostaCerta.alternativa}}
          </mat-list-item>
          <mat-list-item>
            Sua resposta: <span [class]="marcarAlternativa(q.respostaAluno.correta)">{{q.respostaAluno.alternativa}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>