<mat-card>
  <div class="mat-elevation-z8">

    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <h2>{{video.titulo}}</h2>
      </mat-grid-tile>
      <mat-grid-tile><a mat-raised-button color="primary" class="voltar" title="Voltar" routerLink="/cursodetalhes">
          <i class="material-icons md-48" title="Voltar">arrow_back</i>
        </a></mat-grid-tile>
    </mat-grid-list>


    <div class="video-container">
      <video controls height="240" width="426"  *ngIf="exibirTagVideo">
        <source [src]="sanitizarURL(video.url)" type="video/mp4">
        Desculpe; seu navegador não suporta vídeos HTML5 em WebM com VP8 ou MP4 com H.264.
      </video>

      <iframe width="426" height="240" [src]="sanitizarURL(video.url)" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen  *ngIf="!exibirTagVideo"></iframe>
    </div>
  </div>
</mat-card>