<div class="mat-elevation-z8">

  <mat-card class="example-card">
      <a mat-raised-button  color="primary" class="voltar" title="Voltar" routerLink="/cursos" style="float: right;">
        <i class="material-icons md-48" title="Voltar">arrow_back</i>
      </a>
    <div class="subUnidade" style="background: #29374a; margin-bottom: 20px;">
      <mat-list>
        <mat-list-item><h2 style="color: #6db5ca">{{curso.titulo}}</h2></mat-list-item>
        <mat-list-item><h2 style="color: #ccc">Instrutor: {{curso.nomeInstrutor}}</h2></mat-list-item>
        <mat-list-item><h2 style="color: #ccc">Categoria: {{curso.categoria.nome}}</h2></mat-list-item>
        <mat-list-item><h2 style="color: #ccc">Palavras-chave: {{curso.palavrasChave}}</h2></mat-list-item>
      </mat-list>

    </div>
    <!-- <mat-card-title>
      <h2>{{curso.titulo}}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>Instrutor: {{curso.nomeInstrutor}}</h2>
    </mat-card-subtitle> -->
    <mat-card-content>
        
      <mat-card class="example-card" *ngFor="let u of curso.unidades" style="background: #29374a; margin-bottom: 20px;">
          
        <h3 style="color: rgb(221, 136, 24);padding-bottom: 5px;font-size: 1.5em">{{u.titulo}}</h3>

        <div class="subUnidade" *ngIf="u.videos.length > 0">
          <h3 style="font-size: 1.5em; color: #ccc">Videos</h3>
          <mat-list *ngFor="let v of u.videos">
            <mat-list-item>
              <a (click)="assistirVideo(v)" title="Videos" style="font-size: 1.2em;cursor: pointer;"><i class="material-icons md-48 btnCRUDEditar"
                  title="{{v.titulo}}">video_label</i> {{v.titulo}}</a>

              <!-- <video controls [src]="sanitizarURL(v.url)" width="426" height="240" [hidden]="!exibirVideo(v.url)"></video>
                <iframe width="426" height="240" [src]="sanitizarURL(v.url)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen [hidden]="!exibirTagEmbebed(v.url)"></iframe> -->
            </mat-list-item>
          </mat-list>
        </div>

        <div class="subUnidade" *ngIf="u.arquivos.length > 0">
          <h3 style="font-size: 1.5em; color: #ccc">Arquivos</h3>
          <mat-list *ngFor="let v of u.arquivos">
            <mat-list-item>
              <a href="{{v.url}}" style="font-size: 1.2em; color: #eee; text-decoration: none" target="_blank"><i class="material-icons md-48 btnCRUDEditar"
                  title="Arquivos">file_copy</i> {{v.titulo}}</a>
            </mat-list-item>
          </mat-list>
        </div>

        <div class="subUnidade" *ngIf="u.questionarios.length > 0">
          <h3 style="font-size: 1.5em; color: #ccc">Questionários</h3>
          <mat-list *ngFor="let v of u.questionarios">
            <mat-list-item>
              <a (click)="questionario(v)" style="font-size: 1.2em; color: #eee; text-decoration: none" target="_blank"><i
                  class="material-icons md-48 btnCRUDEditar" title="Questionário">question_answer</i> {{v.titulo}}</a>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card>

      <mat-card class="example-card" style="background: #29374a; margin-bottom: 20px;">
          <h3 style="font-size: 1.5em; color: #ccc">Avaliações dos alunos</h3>

          <div class="mat-elevation-z8" [hidden]="!mostrarFormAvaliacao">
              <form class="form my-2 my-lg-0" #f="ngForm" method="post" enctype="multipart/form-data" form>
                <mat-form-field class="inputFormulario">
                  <input matInput placeholder="Nota" [(ngModel)]="avaliacao.nota" name="nota" type="number" min="1" max="10" required>
                </mat-form-field>

                <mat-form-field class="inputFormulario">
                    <input matInput placeholder="Comentário" [(ngModel)]="avaliacao.comentario" name="comentario" required>
                  </mat-form-field>
        
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="salvar" (click)="salvarAvaliacao()" aria-label="Salvar ação"
                    [disabled]="!f.valid">SALVAR</button>
                </mat-card-actions>
              </form>
            </div>
      </mat-card>

    </mat-card-content>
  </mat-card>

</div>