<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="EMail" [(ngModel)]="usuario.email" name="email" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="usuario.senha" type="password" name="senha" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>

    <div class="row" *ngIf="showMsg">
      <div class="alert alert-danger" role="alert">
        <i class="material-icons">error</i> Email ou senha inválidos
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card> -->


<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card style="box-shadow: none">
      <mat-card-content>
        <!-- Row -->
        <div fxLayout="row" fxLayoutWrap="wrap">
          <!-- column -->
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <div class="contains">
              <div class="login-box">
                <mat-card class="mat-elevation-z2" style="background-color: #26C6DA" *ngIf="!usuarioAutenticado">
                  <mat-card-header style="background-color: #26C6DA; font-weight: bold; color: #212c3d;font-size: 2em;text-align: center">Login</mat-card-header>
                  <mat-card-content>
                    <form class="form my-2 my-lg-0">
                      <mat-form-field class="inputLogin">
                        <input matInput placeholder="E-mail" [(ngModel)]="usuario.email" name="email" required>
                      </mat-form-field>
                      <mat-form-field class="inputLogin">
                        <input matInput placeholder="Senha" [(ngModel)]="usuario.senha" type="password" name="senha"
                          required>
                      </mat-form-field>
                      <mat-card-actions>
                        <a mat-raised-button href="/usuario" class="btnLogin" style="margin-right: 50px">Cadastrar</a>
                        <button mat-raised-button (click)="login()" color="primary" class="btnLogin" aria-label="Efetuar login">Login</button>
                      </mat-card-actions>
                    </form>

                    <div class="row" *ngIf="showMsg">
                      <div class="alert alert-danger" role="alert">
                        <i class="material-icons">error</i> Email ou senha inválidos
                      </div>
                    </div>

                  </mat-card-content>
                </mat-card>


                <mat-card class="mat-elevation-z2" style="background-color: #26C6DA" *ngIf="usuarioAutenticado">
                    <mat-card-header style="background-color: #26C6DA; font-weight: bold; color: #212c3d;font-size: 2em;text-align: center">Você já está autenticado</mat-card-header>
                    <mat-card-content>
                      <a (click)="logoff()" title="Sair">
                        <i class="material-icons md-48">exit_to_app</i> Sair
                      </a>
                    </mat-card-content>
                </mat-card>

              </div>

            </div>
            <br /><br />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>