<mat-card>
<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
      <!-- <mat-cell *matCellDef="let row">
        <span *ngFor="let r of row.tipo">{{r.tipo}}</span>
      </mat-cell> -->
      <mat-cell *matCellDef="let row">{{mostrarTipo(row.tipo)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <td mat-cell *matCellDef="let row"> 
        <a (click)="editar(row)"><i class="material-icons md-48 btnCRUD" title="Editar">edit</i></a> 
      </td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <td mat-cell *matCellDef="let row"> 
        <a (click)="openDialog(row)" style="margin-left: 30px;" class="btnCRUD" title="Excluir"><i class="material-icons md-48">delete</i></a>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
</mat-card>