<mat-card>
    <h2 class="tituloPagina"><i class="material-icons md-48">account_circle</i> {{tituloPagina}}</h2>
    <a mat-fab href="{{tela}}" class="btnNovo" title="Novo">
      <i class="material-icons md-48">add</i>
    </a>
    <!-- <a mat-raised-button  color="primary" class="incluir" href="{{tela}}" style="float: right;"><i class="material-icons md-48">person_add</i> INCLUIR</a> -->
    <div fxLayout fxLayoutAlign="right right">
        <mat-form-field class="filtro formFiltro">
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
      </div>
<div class="mat-elevation-z8">
  <!-- <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
      <mat-cell *matCellDef="let row">{{mostrarTipo(row.tipo)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <td mat-cell *matCellDef="let row"> 
        <a (click)="editar(row)"><i class="material-icons md-48 btnCRUDEditar" title="Editar">edit</i></a> 
      </td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <td mat-cell *matCellDef="let row"> 
        <a (click)="openDialog(row)" style="margin-left: 30px;" class="btnCRUDExcluir" title="Excluir"><i class="material-icons md-48">delete</i></a>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->

  <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Nome">{{row.nome}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Email">{{row.email}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Tipo">{{mostrarTipo(row.tipo)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="colunaAcoes">Ações</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="Ações" class="colunaAcoes">
              <a (click)="editar(row)" style="margin-right: 20px;"><i class="material-icons md-48 btnCRUDEditar" title="Editar">edit</i></a> 
              <a (click)="openDialog(row)" class="btnCRUDExcluir" title="Excluir"><i class="material-icons md-48" *ngIf="row._id!='5d1b995f1c9d440000ddea3d'">delete</i></a>
          </mat-cell>
        </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>




  <!-- <table mat-table [dataSource]="dataSource" matSort aria-label="Elements" style="width: 100%">

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.nome}}</td>
      </ng-container>
    
      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>

      <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
          <td mat-cell *matCellDef="let row">{{mostrarTipo(row.tipo)}}</td>
      </ng-container>

      <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20px;"></th>
          <td mat-cell *matCellDef="let row">
              <a (click)="editar(row)"><i class="material-icons md-48 btnCRUDEditar" title="Editar">edit</i></a> 
          </td>
      </ng-container>

      <ng-container matColumnDef="excluir">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20px;"></th>
          <td mat-cell *matCellDef="let row">
              <a (click)="openDialog(row)" style="margin-left: 30px;" class="btnCRUDExcluir" title="Excluir"><i class="material-icons md-48">delete</i></a>
          </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->

  <mat-paginator #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 50]">
  </mat-paginator>
</div>
</mat-card>