<mat-card>
  <div class="mat-elevation-z8">
      <h2 class="tituloPagina">Usuário</h2>
      <button mat-raised-button color="primary" class="salvar preencher" (click)="preencher()" aria-label="Salvar ação">Preencher</button>
      <form class="form my-2 my-lg-0" #f="ngForm">
          <mat-form-field class="inputFormulario">
              <input matInput placeholder="Nome" [(ngModel)]="usuario.nome" name="nome" required>
            </mat-form-field>

          <mat-form-field class="inputFormulario">
            <input matInput placeholder="E-mail" [(ngModel)]="usuario.email" name="email" required (blur)="emailDuplicado()">
          </mat-form-field>
          <div class="alert alert-danger" role="alert" [hidden]="emailValido">
              <i class="material-icons">error</i> Email já cadastrado
            </div>

          <mat-form-field class="inputFormulario">
            <input matInput placeholder="Senha" [(ngModel)]="usuario.senha" type="password" name="senha"
              required>
          </mat-form-field>

          <mat-form-field class="inputFormulario" *ngIf="this.as.ehAdministrador()">
              <mat-label>Perfil</mat-label>
              <mat-select required [(ngModel)]="usuario.tipo" name="perfil" [compareWith]="compareById">
                <mat-option *ngFor="let t of tipoUsuario" [value]="t">
                  {{t.tipo}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          <mat-card-actions>
            <a mat-raised-button  color="primary" class="voltar" routerLink="/usuarios" *ngIf="this.as.ehAdministrador()">CANCELAR</a>
            <a mat-raised-button  color="primary" class="voltar" routerLink="/login" *ngIf="!this.as.ehUsuarioAutenticado()">CANCELAR</a>
            <a mat-raised-button  color="primary" class="voltar" routerLink="/cursos" *ngIf="!this.as.ehAdministrador() && this.as.ehUsuarioAutenticado()">CANCELAR</a>
            <button mat-raised-button color="primary" class="salvar" (click)="salvar()" aria-label="Salvar ação" [disabled]="!f.valid">SALVAR</button>
          </mat-card-actions>
        </form>
  </div>
</mat-card>