<mat-card>
  <div class="mat-elevation-z8">
      <form class="form my-2 my-lg-0">

          <mat-form-field class="inputFormulario">
              <input matInput placeholder="Nome" [(ngModel)]="usuario.nome" name="nome" required>
            </mat-form-field>

          <mat-form-field class="inputFormulario">
            <input matInput placeholder="E-mail" [(ngModel)]="usuario.email" name="email" required>
          </mat-form-field>

          <mat-form-field class="inputFormulario">
            <input matInput placeholder="Senha" [(ngModel)]="usuario.senha" type="password" name="senha"
              required>
          </mat-form-field>

          <mat-card-actions>
            <button mat-raised-button color="primary">Salvar</button>
          </mat-card-actions>
        </form>
  </div>
</mat-card>