<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/cursos">Cursos</a>
      <a mat-list-item href="/curso">Curso</a>
      <a *ngIf="usuarioIniciado(usuario)" mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Sistema de Treinamentos</span>
      <div style="color: #fff;position: absolute;right: 10px;">
        <a *ngIf="usuarioIniciado(usuario)" (click)="logoff()" title="Sair">
          <i class="material-icons md-48">exit_to_app</i>
        </a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm aria-label="Abrir menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span>SISTREN</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        
        <a routerLink="/usuarios" mat-button *ngIf="this.as.ehAdministrador()">
          <i class="material-icons md-48">account_circle</i> Usuários
        </a>

        <a routerLink="/usuario" mat-button *ngIf="this.as.ehUsuarioAutenticado() && !this.as.ehAdministrador()">
          <i class="material-icons md-48">account_circle</i> Perfil
        </a>

        <a routerLink="/cursos" mat-button *ngIf="this.as.ehUsuarioAutenticado() && !this.as.ehAdministrador()">
          <i class="material-icons md-48">school</i> Cursos
        </a>
        

        <button mat-button [matMenuTriggerFor]="cursos" *ngIf="this.as.ehUsuarioAutenticado() && this.as.ehAdministrador()"><i class="material-icons md-48">school</i> Cursos</button>
        <mat-menu #cursos="matMenu">
            <a routerLink="/cursos" mat-menu-item>
              Lista de cursos
            </a>
            <a routerLink="/cursoscategorias" mat-menu-item *ngIf="this.as.ehAdministrador()">
              Categorias de cursos
            </a>
        </mat-menu>

        <a routerLink="/relatorios" mat-button *ngIf="this.as.ehAdministrador()">
          <i class="material-icons md-48">trending_up</i> Relatórios
        </a>

        <!-- <a href="/cursos" mat-button mat-button *ngIf="this.as.ehUsuarioAutenticado()">
          <i class="material-icons md-48">school</i> Cursos
        </a> -->

        <!-- <a style="position:fixed;right:10px;cursor: pointer;" *ngIf="usuarioIniciado(usuario)" (click)="logoff()" title="Sair">
          <i class="material-icons md-48">exit_to_app</i>
        </a> -->
      </div>
      <a style="position:fixed;right:10px;cursor: pointer;" *ngIf="usuarioIniciado(usuario)" (click)="logoff()" title="Sair">
          <i class="material-icons md-48">exit_to_app</i>
        </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav class="sidenav">
        <!-- <button mat-button [matMenuTriggerFor]="cursos" *ngIf="this.as.ehUsuarioAutenticado()"><i class="material-icons md-48">school</i> Cursos</button>
        <mat-menu #cursos="matMenu">
            <a href="/cursos" mat-menu-item>
              Lista de cursos
            </a>
          <button mat-menu-item>Categorias de curso</button>
        </mat-menu> -->
      <mat-nav-list>
        <!-- <a (click)="sidenav.toggle()" href="" mat-list-item><i class="material-icons md-48">close</i></a> -->
        <a routerLink="/usuarios" mat-button *ngIf="this.as.ehAdministrador()">
          <i class="material-icons md-48">account_circle</i> Usuários
        </a>

        <a routerLink="/usuario" mat-button *ngIf="this.as.ehUsuarioAutenticado() && !this.as.ehAdministrador()">
          <i class="material-icons md-48">account_circle</i> Perfil
        </a>

        <!-- <a href="/cursos" mat-button mat-button *ngIf="this.as.ehUsuarioAutenticado()">
          <i class="material-icons md-48">school</i> Cursos
        </a> -->

        <a routerLink="/cursos" mat-button *ngIf="this.as.ehUsuarioAutenticado() && !this.as.ehAdministrador()">
          <i class="material-icons md-48">school</i> Cursos
        </a>

        <button mat-button [matMenuTriggerFor]="cursos" *ngIf="this.as.ehUsuarioAutenticado() && this.as.ehAdministrador()"><i class="material-icons md-48">school</i> Cursos</button>
        <mat-menu #cursos="matMenu">
            <a routerLink="/cursos" mat-menu-item>
              Lista de cursos
            </a>
            <a routerLink="/cursoscategorias" mat-menu-item *ngIf="this.as.ehAdministrador()">
              Categorias de cursos
            </a>
        </mat-menu>

        <a routerLink="/relatorios" mat-button *ngIf="this.as.ehAdministrador()">
          <i class="material-icons md-48">trending_up</i> Relatórios
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>