/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background: #212c3d;
}

.mat-card {
    background: #212c3d;
    color: #eee;
}

.sidenav {
    background: #212c3d;
    color: #eee;
}

.mat-primary {
    background: #29374a !important;
    color: #eee;
}

.mat-list-item-content {
    color: #eee;
}

menu {
    margin-top: 0;
    margin-left: -40px;
}

.alert {
    max-width: 250px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.alert-danger {
    background-color: #d43f3a;
    border-color: #d43f3a;
    color: #eee;
}

.mat-menu-panel {
    margin-top: 40px;
    background: #29374a;
    color: #fff;
}

.mat-menu-item {
    color: #eee;
}

/* .example-full-width {
    width: 300px;
}

.example-full-width .mat-input-element {
    font-size: 20px;    
} */

.contains {
    text-align: center;
}

.login-box, .register-box {
    margin: auto;
    margin-top: 10%;
    width: 300px;
}

.login-page, .register-page {
    background: #d2d6de;
}

.login-box {
    margin: auto;
    margin-top: 15%;
}

.inputLogin {
    width: 270px;
    background: none !important;
    color: #212c3d;
    font-size: 1.3em;
}

.inputLogin .mat-form-field-label {
    /* color: rgb(230, 153, 53) !important; */
    color: #212c3d !important;
}

.inputLogin .mat-form-field-underline {
    background-color: #212c3d !important;
    /* background-color: rgb(230, 153, 53) !important; */
}

mat-sidenav-content {
    background: #212c3d;
}

.mat-table {
    background: none;
}

.mat-elevation-z8, mat-option, .mat-option-text, .mat-select-content, .mat-select-value {
    background: #29374a;
    color: #eee;
}

.mat-paginator-container {
    background: #29374a;
    color: #eee;
}

.mat-cell {
    color: #ccc;
}

.mat-icon-button {
    color: #ccc !important;
}

.mat-header-cell {
    color: #ddd;
    text-align: center;
    font-weight: bold;
}

.inputFormulario {
    color: #ccc;
    width: 100%;
    font-size: 1.3em;
    background: none;
}

.mat-elevation-z8 {
    padding: 10px;
}

/* ::ng-deep .mat-form-field-underline .mat-form-field-ripple{

    background-color:red;
  }
  
  ::ng-deep .mat-form-field-underline{
  
    background-color:red;
  } */

.mat-form-field-label {
    /* color: rgb(230, 153, 53) !important; */
    color: #26C6DA !important;
}

.mat-form-field-underline {
    background-color: #26C6DA !important;
    /* background-color: rgb(230, 153, 53) !important; */
}

.salvar {
    /* background-color: rgb(30, 124, 136) !important;
    color: #eee; */
    /* background: none !important;
    border: 2px solid #26C6DA !important; */
    color: #26C6DA !important;
    font-weight: bold !important;
    letter-spacing: 5px !important;
    box-shadow: none !important;
}

.btnUpload {
    color: #26C6DA !important;
    border: 2px solid #26C6DA !important;
    background: none !important;
}

.mat-button-toggle-checked {
    background:rgb(21, 85, 94);
    color: #eee !important;
}


.mat-button-toggle-label-content {
    color: #26C6DA !important;
    border: 2px solid #26C6DA !important;
    background: none !important;
}

.mat-tab-label {
    color: #26C6DA !important;
    font-size: 1.3em;
}

.mat-tab-label-active {
    background: none !important;
    border: none !important;
    border-bottom: 2px solid #26C6DA;
}

.btnNovo {
    position: fixed !important; right: 15px !important; bottom: 50px !important;
}

.salvar:disabled {
    /* border: 2px solid rgb(208, 238, 241) !important; */
    color: rgb(208, 238, 241) !important;
    box-shadow: none !important;
    letter-spacing: 5px !important;
    font-weight: bold !important;
}

.tituloPagina {
    color: #ccc;
    letter-spacing: 3px !important;
    text-transform: uppercase;
}

.btnLogin {
    background: none !important;
    border: 2px solid #212c3d !important;
    ;
    color: #212c3d !important;
}

.btnCRUD {
    cursor: pointer;
}

.btnCRUDExcluir {
    cursor: pointer;
    color: #b35a48;
}

.btnCRUDEditar {
    cursor: pointer;
    color: #6db5ca;
}

.voltar {
    /* background-color: rgb(127, 210, 221) !important;
    color: #333 !important; */
    margin-left: 20px;
    background: none !important;
    /* border: 2px solid #ddd !important; */
    color: #ddd !important;
    box-shadow: none !important;
    letter-spacing: 5px;
    font-weight: bold;
}

.mat-dialog-container {
    background-color: rgb(30, 124, 136) !important;
}

.mat-dialog-container {
    font: 1em Roboto, "Helvetica Neue", sans-serif;
    color: #222;
}

mat-header-cell {
    display: flex;
    justify-content: flex-end;
}

.mat-card-actions {
    text-align: right;
    padding-right: 20px !important;
}

.filtro {
    font-size: 1em !important;
    width: 200px !important;
    padding-left: 10px;
    padding-right: 10px;
}

th {
    color: rgb(49, 145, 158) !important;
    font-size: 1.1em !important;
}

.formFiltro {
    background: none !important;
    margin-top: -6px;
}

.contentChart {
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
    position: fixed;
    top: 45%;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.mat-fab {
    background: rgb(53, 137, 148) !important;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@media screen and (min-width: 601px) {
    mat-cell {
        display: flex !important;
        justify-content: left!important;
    }
    mat-header-cell {
        display: flex;
        justify-content: left;
    }
    .mat-header-cell {
        font-size: 0.9em;
    }
    .colunaAcoes {
        max-width: 50px;
    }
}

.mat-card-actions {
    margin-right: -25px !important;
}

.inscrever {
    color: #1B9A59;
    cursor: pointer;
}

.sairCurso {
    color: #b35a48;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .mat-table {
        border: 0;
        vertical-align: middle;
    }
    .mat-elevation-z8 {
        background: none !important;
        box-shadow: none !important;
    }
    .mat-header-cell {
        display: none;
    }
    .mat-table caption {
        font-size: 1em;
    }
    .mat-form-field-label {
        padding-left: 10px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 1.25em;
        width: 95%;
        padding-left: 4px;
    }
    /*  Enable this to hide header
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    */
    .mat-table .mat-row {
        /* border-bottom: 10px solid #ddd;       */
        display: block;
    }
    .mat-row {
        padding: 10px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
        background: #29374a;
        margin-bottom: 20px;
    }
    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        border-bottom-color: rgba(0, 0, 0, .12);
        display: block;
        font-size: 0.9em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        margin-bottom: 1%;
    }
    .mat-table .mat-cell:before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
        border-bottom: 0;
        padding-right: 0 !important;
    }
    .mat-table .mat-cell:first-child {
        margin-top: 1%;
        padding-left: 0 !important;
    }

    .tituloPagina {
        text-align: center;
    }

    .salvar {
        color: #26C6DA !important;
        font-weight: bold !important;
        letter-spacing: 5px !important;
        box-shadow: none !important;
        background: none !important;
    }
}