/* You can add global styles to this file, and also import other style files */

body { 
    margin: 0; 
    background: #212c3d;
}

.mat-card {
    background: #212c3d;
    color: #eee;
}

.sidenav {
    background: #212c3d;
    color: #eee;
}

.mat-primary {
    background: #29374a !important;
    color: #eee;
}

.mat-list-item-content {
    color: #eee;
}

menu {
    margin-top: 0;
    margin-left: -40px;
}


.alert {
  max-width: 250px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.alert-danger {
    background-color: #d43f3a;
    border-color: #d43f3a;
    color: #eee;
  }

/* .example-full-width {
    width: 300px;
}

.example-full-width .mat-input-element {
    font-size: 20px;    
} */

.contains {
    text-align: center;
}

.login-box, .register-box {
    margin: auto;
    margin-top: 10%;
    width: 300px;
}.login-page, .register-page {
    background: #d2d6de;
}

.login-box{
    margin: auto;
    margin-top: 15%;
}

.inputLogin {
    width: 270px;
    background: none !important;
    color: #212c3d;
    font-size: 1.3em;
}

mat-sidenav-content {
    background: #212c3d;
}

.mat-table {
    background:  none;
}

.mat-elevation-z8 {
    background:  #29374a;
    color: #eee;
}

.mat-paginator-container {
    background:  #29374a;
    color: #eee;
}

.mat-cell {
    color: #ccc;
}

.mat-icon-button {
    color: #ccc !important;
}

.mat-header-cell {
    color: #ddd;
    text-align: center;
    font-weight: bold;
}

.inputFormulario {
    color: #ccc;
    width: 100%;
    font-size: 1.3em;
    background: none;
}